In [17]:
# sqlで取得したデータをpythonに渡すためにipython-sqlを使う
# %sqlコマンドを使えるようにする
%load_ext sql
# PythonのORマッパー
import sqlalchemy
# sqlalchemyでデータベースとの接続するためのライブラリ
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
# データベースをモデルとして扱い、テーブルの構造をオブジェクトとして扱うためのライブラリ
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
# データベースに接続するセッションを作成するライブラリ
from sqlalchemy.orm import sessionmaker

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
# データベースと接続 : sqliteの場合
# %sqlコマンドはデータベースと接続するためのマジックコマンド
%sql sqlite:///test.db

'Connected: @test.db'

In [3]:
# postgresqlと接続する場合はpsyopg2というアダプターが必要になる
# postgresを扱う場合は、まずデータベースサーバーを起動しておくのを忘れずに　　pg_ctl start -D ./postgres/
# %sql postgresql://postgres:パスワード@localhost/test　← localhostをURLにすると外部のサーバにも接続できる
%sql postgresql://postgres:yayaoogesa@localhost/test

'Connected: postgres@test'

In [4]:
%sql select * from users

 * postgresql://postgres:***@localhost/test
   sqlite:///test.db
2 rows affected.

[(1, 'Yoshizaki', 27), (2, 'Kikagaku', 2)]

In [5]:
# sqlを実行して得られた結果は　_　に一時的に保存される
result = _
result.keys

['id', 'name', 'age']

In [6]:
# sqlの出力結果をDataFrameに変換
import pandas as pd
df = pd.DataFrame(result, columns=result.keys)
df

   id       name  age
0   1  Yoshizaki   27
1   2   Kikagaku    2

In [7]:
import sqlalchemy

In [8]:
# sqlalchemyでデータベースとの接続するためのライブラリ
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

In [19]:
# 接続先の設定
url = URL(
    drivername='postgresql',
    username='postgres',
    password='yayaoogesa',
    host='localhost',
    database='test'
)
url

postgresql://postgres:***@localhost/test

In [20]:
# エンジンオブジェクトを生成データベースと接続する
engine = create_engine(url)
engine

Engine(postgresql://postgres:***@localhost/test)

In [21]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
Base = declarative_base()
class User(Base):
    __tablename__='users'
    
    id = Column(Integer, primary_key=True)
    name=Column(String)
    age=Column(Integer)

In [22]:
from sqlalchemy.orm import sessionmaker
session = sessionmaker(bind=engine)()
# データの取得
users = session.query(User).all()

In [24]:
# データの確認
user = users[0]
user.name, user.age

('Yoshizaki', 27)

In [25]:
# 新しいユーザーの定義
new_user = User(name='NewUser', age=30)

In [26]:
# データベースへ追加
session.add(new_user) # 登録したユーザーを追加
session.commit() # データベースへ反映

In [27]:
users = session.query(User).all()
len(users)

3

In [28]:
# 取得されたデータの確認
for user in users:
    print(user.id, user.name, user.age)

1 Yoshizaki 27
2 Kikagaku 2
3 NewUser 30

In [29]:
# セッションを終了する
session.close()